@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato:400,700);
/*RESET*/
/*-------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*TYPE TEMPLATE*/
/*-------------------------------------------------------*/
.ruler_wrapper .tooltip p.landmark_name {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.5em; }

.title_wrapper .intro p, .title_wrapper a.button, .ruler_wrapper .scrollup p, .ruler_wrapper .height_indicator .height p {
  font-size: 1.3125em;
  line-height: 2.28571em;
  line-height: 1.71em; }

.ruler_wrapper .scrollup:before, .ruler_wrapper .tooltip p.landmark_cost {
  font-size: 1.75em;
  line-height: 1.71429em;
  line-height: 1.125em; }

.t-tiny {
  font-size: 0.5625em;
  line-height: 2.66667em;
  line-height: 3.999em; }

.t-small {
  font-size: 0.75em;
  line-height: 2em;
  line-height: 3em; }

.t-base {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.5em; }

.t-medium {
  font-size: 1.3125em;
  line-height: 2.28571em;
  line-height: 1.71em; }

.t-large {
  font-size: 1.75em;
  line-height: 1.71429em;
  line-height: 1.125em; }

.t-xlarge {
  font-size: 2.375em;
  line-height: 1.26316em;
  line-height: 1.5em; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 1.5em; }

/* TYPOGRAPHY */
/*-------------------------------------------------------*/
body p, body h1 {
  font-kerning: initial;
  text-rendering: optimizeLegibility; }

.title_wrapper .intro h1 {
  display: block;
  position: relative;
  text-align: center;
  font-family: "Montserrat", "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase;
  color: #4014ba;
  font-weight: 400;
  margin-bottom: 1.5em; }
.title_wrapper .intro h1 span.the {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-size: 2.618em;
  line-height: 1.14591em;
  color: #36aeb1;
  font-family: "Lato", Tahoma, Verdana, Segoe, sans-serif;
  line-height: 1.5em; }
.title_wrapper .intro h1 span.heightof {
  font-size: 4.236em;
  line-height: 1.06232em;
  line-height: 0.9em;
  font-weight: 600; }
.title_wrapper .intro h1 span.jackpots {
  font-size: 6.4em;
  line-height: 1.17188em;
  line-height: 1.125em; }
.title_wrapper .intro p {
  font-family: "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
  padding-bottom: 3em;
  display: block;
  color: #625c72; }
.title_wrapper a.button {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  text-decoration: none; }

.ruler_wrapper .scrollup:before, .ruler_wrapper .scrollup p {
  color: #4014ba;
  text-align: center;
  font-family: "Montserrat", "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase; }
.ruler_wrapper .height_indicator .height {
  margin: 0;
  padding-left: 1em;
  width: 100%;
  position: absolute;
  text-align: center;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.ruler_wrapper .height_indicator .height p {
  font-family: "Montserrat", "Lato", Tahoma, Verdana, Segoe, sans-serif;
  color: white; }
.ruler_wrapper .height_indicator .height p:after {
  content: 'm'; }
.ruler_wrapper .coinpile a {
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #4014ba;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  transition: all ease-in-out; }
.ruler_wrapper .coinpile a:hover {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #511be6;
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  transition: all ease-in-out; }
.ruler_wrapper .tooltip p.landmark_name {
  color: #4014ba;
  font-family: "Montserrat", "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase; }
.ruler_wrapper .tooltip p.landmark_cost {
  color: #36aeb1;
  font-family: "Lato", Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.title_wrapper .intro_wrapper .intro, .title_wrapper .intro_wrapper a.button, .ruler_wrapper .tooltip {
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

/*GLOBALS*/
/* ---------------------------------------------------------*/
html, body {
  position: relative;
  height: 100%; }

body {
  background: #070231; }

main {
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

.container {
  display: block;
  height: 100%;
  position: relative;
  bottom: 0; }

.title_wrapper, .ruler_wrapper, .section_wrapper, .foreground_clouds, .background_clouds, .background_textures {
  width: 100%;
  display: block; }

.ruler_wrapper, .foreground_clouds, .background_clouds, .background_textures {
  position: absolute;
  bottom: 0;
  height: 100%;
  *zoom: 1; }
.ruler_wrapper:before, .ruler_wrapper:after, .foreground_clouds:before, .foreground_clouds:after, .background_clouds:before, .background_clouds:after, .background_textures:before, .background_textures:after {
  content: " ";
  display: table; }
.ruler_wrapper:after, .foreground_clouds:after, .background_clouds:after, .background_textures:after {
  clear: both; }

.foreground_clouds {
  background: transparent url("../img/svg/cloudlayer2.svg") center bottom no-repeat; }

.background_clouds {
  background: transparent url("../img/svg/cloudlayer1.svg") center bottom no-repeat; }

footer, .coinpile a, .height_indicator {
  z-index: 100 !important; }

/*TITLE WRAPPER*/
/* ---------------------------------------------------------*/
.title_wrapper {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%; }
.title_wrapper .intro_wrapper {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.title_wrapper .intro_wrapper .intro {
  background: white;
  z-index: 1;
  padding: 3em;
  max-width: 700px; }
.title_wrapper .intro_wrapper a.button {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: -30px;
  background: #36aeb1;
  padding: 1.5em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s; }
.title_wrapper .intro_wrapper a.button:hover {
  background: #18999c;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s; }

/*RULER LAYER*/
/* ---------------------------------------------------------*/
.ruler_wrapper {
  z-index: 8; }
.ruler_wrapper .scrollup {
  position: fixed;
  top: 0px;
  left: 50%;
  display: block;
  width: 200px;
  height: 100px;
  background: white;
  z-index: 9;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.ruler_wrapper .scrollup:before {
  content: '^';
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px; }
.ruler_wrapper .tooltip {
  width: 300px;
  height: auto;
  display: none;
  position: absolute;
  z-index: 9; }
.ruler_wrapper .tooltip .tooltip-padding {
  padding: 1.5em;
  height: auto; }
.ruler_wrapper .container {
  min-height: 100%;
  margin-bottom: -100px; }
.ruler_wrapper .container:after {
  content: '';
  display: block; }
.ruler_wrapper .container:after, .ruler_wrapper .container footer {
  height: 100px; }
.ruler_wrapper .container .ruler {
  background: transparent url("../img/svg/ruler.svg") left bottom repeat-y;
  width: 50px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0; }
.ruler_wrapper .container .coin_wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0; }
.ruler_wrapper .container .height_indicator {
  width: 150px;
  height: 150px;
  display: block;
  position: fixed;
  left: 30px;
  bottom: 512px; }
.ruler_wrapper .container .coin_wrapper .coinpile {
  width: 36px;
  position: absolute;
  bottom: 0;
  display: block;
  background: transparent url("../img/coinpile.png") bottom repeat-y; }
.ruler_wrapper .container .coin_wrapper .coinpile.flight {
  left: 50%;
  height: 7600px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.ruler_wrapper .container .coin_wrapper .coinpile.nepal {
  right: 27%;
  height: 6730px; }
.ruler_wrapper .container .coin_wrapper .coinpile.capetown {
  left: 27%;
  height: 6050px; }
.ruler_wrapper .container .coin_wrapper .coinpile.dubai {
  right: 27%;
  height: 5200px; }
.ruler_wrapper .container .coin_wrapper .coinpile.newyork {
  left: 27%;
  height: 4335px; }
.ruler_wrapper .container .coin_wrapper .coinpile.paris {
  right: 210px;
  height: 3000px; }
.ruler_wrapper .container .coin_wrapper .coinpile.london {
  left: 40%;
  height: 2000px; }
.ruler_wrapper .container .coin_wrapper .coinpile.rio {
  right: 200px;
  height: 600px; }
.ruler_wrapper footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: white; }
.ruler_wrapper footer .footer_wrapper {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 1.5em; }
.ruler_wrapper footer .footer_wrapper:before, .ruler_wrapper footer .footer_wrapper:after {
  content: " ";
  display: table; }
.ruler_wrapper footer .footer_wrapper:after {
  clear: both; }
.ruler_wrapper footer .footer_wrapper .logo_col {
  display: block;
  float: left;
  margin-right: 10.1484%;
  width: 63.28387%; }
.ruler_wrapper footer .footer_wrapper .logo_col:last-child {
  margin-right: 0; }
.ruler_wrapper footer .footer_wrapper .social {
  display: block;
  float: left;
  margin-right: 10.1484%;
  width: 26.56773%; }
.ruler_wrapper footer .footer_wrapper .social:last-child {
  margin-right: 0; }
.ruler_wrapper footer .footer_wrapper .logo_col .logo {
  display: block;
  height: 50px;
  width: 150px; }
.ruler_wrapper footer .footer_wrapper .logo_col path#logo {
  fill: #053d5c; }
.ruler_wrapper footer .footer_wrapper .social {
  height: 50px; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons:before, .ruler_wrapper footer .footer_wrapper ul.share-buttons:after {
  content: " ";
  display: table; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons:after {
  clear: both; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons li {
  display: block;
  float: left;
  margin-right: 5.85151%;
  width: 15.3188%; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons li:last-child {
  margin-right: 0; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons li a, .ruler_wrapper footer .footer_wrapper ul.share-buttons li img {
  width: 40px; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons li a {
  position: relative;
  display: block;
  margin: 0 auto; }
.ruler_wrapper footer .footer_wrapper ul.share-buttons li a img {
  display: block;
  height: 40px; }

/*SECTION LAYER*/
/* ---------------------------------------------------------*/
.section_wrapper {
  z-index: 4; }
.section_wrapper svg {
  position: relative;
  display: block; }
.section_wrapper section {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1024px;
  padding: 1em 0 1em 0;
  overflow: visible; }
.section_wrapper section#london .cloud, .section_wrapper section#newyork .cloud {
  left: 0; }
.section_wrapper section#paris .cloud, .section_wrapper section#dubai .cloud, .section_wrapper section#nepal .cloud {
  right: 0; }
.section_wrapper section .cloud {
  position: absolute;
  width: 739.3px;
  height: 900px;
  top: 50%;
  z-index: 4;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.section_wrapper section .cloud_left, .section_wrapper section .cloud_right {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5 !important; }
.section_wrapper section#capetown .cloud {
  height: 590px; }
.section_wrapper section#flight .plane {
  left: 0;
  width: 200px;
  height: 96px;
  position: absolute;
  z-index: 3; }
.section_wrapper section#flight .planetrail {
  right: 0;
  height: 9px;
  bottom: 18px;
  background: transparent url("../img/svg/planetrail.svg") center repeat-x;
  position: absolute;
  width: 90%; }
.section_wrapper section#flight .flightpath {
  width: 150%;
  height: 96px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0; }
.section_wrapper section#dubai .burj_khalifa {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 600px;
  z-index: 3; }
.section_wrapper section#dubai .burj_khalifa svg {
  display: block; }
.section_wrapper section#nepal .everest {
  width: 650px;
  height: 500px;
  display: block;
  position: absolute;
  bottom: 50px;
  right: 0; }
.section_wrapper section#newyork .empire_state {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 730px;
  z-index: 3; }
.section_wrapper section#newyork .empire_state svg {
  display: block; }
.section_wrapper section#paris .eiffel {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 420px;
  z-index: 3; }
.section_wrapper section#london .hotel, .section_wrapper section#london .supports {
  width: 500px;
  height: 500px;
  display: block;
  position: absolute;
  left: 0; }
.section_wrapper section#london .hotel {
  bottom: 240px; }
.section_wrapper section#london .supports {
  bottom: 210px;
  z-index: 3; }
.section_wrapper section#london .london_eye {
  position: absolute;
  width: 730px;
  height: 730px;
  display: block;
  bottom: 270px;
  z-index: 2; }
.section_wrapper section#rio {
  overflow: hidden; }
.section_wrapper section#rio .redeemer {
  position: absolute;
  width: 48.359375%;
  height: 71.38671875%;
  display: block;
  bottom: 0px;
  right: 0;
  z-index: 4; }
.section_wrapper section#rio .redeemer svg {
  bottom: -10px;
  right: 0; }
.section_wrapper section#rio .rio_trees {
  position: absolute;
  width: 62.578125%;
  height: 23.4375%;
  display: block;
  bottom: 0px;
  right: 1.5625%;
  z-index: 5; }
.section_wrapper section#rio .rio_trees svg {
  bottom: -10px;
  right: 0; }

/*FOREGROUND CLOUDS*/
/*-------------------------------------------------------*/
.foreground_clouds {
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

/*BACKGROUND CLOUDS*/
/*-------------------------------------------------------*/
.background_clouds {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25; }

/*BACKGROUND TEXTURES*/
/*-------------------------------------------------------*/
.background_textures {
  z-index: 1; }
.background_textures .texture {
  position: absolute;
  width: 100%;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  z-index: 1 !important; }
.background_textures .texture.capetown path#Texture, .background_textures .texture.dubai path#Texture, .background_textures .texture.newyork path#Texture, .background_textures .texture.paris path#Texture, .background_textures .texture.london path#Texture {
  fill: #086ca5; }
.background_textures .texture.euromillions {
  bottom: 10245px; }
.background_textures .texture.euromillions path#Texture {
  fill: #010104; }
.background_textures .texture.space {
  bottom: 9210px; }
.background_textures .texture.space path#Texture {
  fill: #030611; }
.background_textures .texture.felix {
  bottom: 8280px; }
.background_textures .texture.felix path#Texture {
  fill: #091439; }
.background_textures .texture.flight {
  bottom: 7300px; }
.background_textures .texture.flight path#Texture {
  fill: #1d3259; }
.background_textures .texture.nepal {
  bottom: 6400px; }
.background_textures .texture.nepal path#Texture {
  fill: #1e4975; }
.background_textures .texture.capetown {
  bottom: 5500px; }
.background_textures .texture.dubai {
  bottom: 4500px; }
.background_textures .texture.newyork {
  bottom: 3440px; }
.background_textures .texture.paris {
  bottom: 2200px; }
.background_textures .texture.london {
  bottom: 1304px; }
.background_textures .texture.rio {
  bottom: -10px; }
.background_textures .texture.rio path#Texture {
  fill: #99d7fa; }
