
@import 'compass/css3';
@import 'compass/utilities';
@import 'bourbon','neat';


$sectionHeight:1024px;
$footerHeight:100px;


%l-modals {background:white;
        @include border-radius(20px);}

/*GLOBALS*/
/* ---------------------------------------------------------*/
html, body
{
    position:relative;
    height:100%;
}
body
{
    background:#070231;
}
//Space Sky
main
{
    min-height:100%;
    position:relative;
    height:auto !important;
    height:100%;
    margin:0 auto;
    overflow-x:hidden;
}
.container
{
    display:block;
    height:100%;
    position:relative;
    bottom:0;
}
.title_wrapper, .ruler_wrapper, .section_wrapper, .foreground_clouds, .background_clouds,  .background_textures
{
    width:100%;
    display:block;
}

 .ruler_wrapper, .foreground_clouds, .background_clouds, .background_textures,
{
    position:absolute;
    bottom:0;
    height:100%;
    @include clearfix;
}
.foreground_clouds
{
    background: transparent url('../img/svg/cloudlayer2.svg') center bottom no-repeat;
}
.background_clouds
{
    background: transparent url('../img/svg/cloudlayer1.svg') center bottom no-repeat;
}

footer, .coinpile a, .height_indicator {z-index:100 !important;}


/*TITLE WRAPPER*/
/* ---------------------------------------------------------*/
.title_wrapper
{z-index:9;
 position:fixed;
 width:100%;
 height:100%;

		.intro_wrapper {position:absolute;
						display:block;
						top:50%;
						left:50%;
						@include transform(translate(-50%, -50%));

						.intro {background:white;
										z-index:1;
										padding:rhythm(2);
										max-width:700px;
									@extend %l-modals;
								//@include box-shadow(0px 0px 10px 4px transparentize(desaturate(darken($sky, 1%), 50%), 0.25));
							}

						a.button {z-index:2;
											position:absolute;
										  left:50%;
											bottom:-30px;
											background:$turquoise;
											@extend %l-modals;
											padding:rhythm(1);
										@include transform(translateX(-50%));
										@include transition(0.25s);

										&:hover {background:saturate(darken($turquoise, 10%), 20%);
														@include transition(0.25s);
													}
									}


						}

			}

/*RULER LAYER*/
/* ---------------------------------------------------------*/
.ruler_wrapper
{z-index:8;

	.scrollup
	{ position:fixed;
		top:0px;
		left:50%;
		display:block;
		width:200px;
		height:100px;
		background:white;
		z-index:9;
		@include transform(translateX(-50%));

		&:before {content:'^';
							display:block;
							width:30px;
							height:30px;
							margin:0 auto;
							padding-top:10px;}

	}

    .tooltip
    {
        width:300px;
        height:auto;
        display:none;
        position:absolute;
        z-index:9;
				@extend %l-modals;
        .tooltip-padding
        {
            padding:rhythm(1);
            height:auto;
        }
    }
    .container
    {
        min-height:100%;
        margin-bottom:-$footerHeight;
        &:after
        {
            content:'';
            display:block;
        }
        &:after, footer
        {
            height:$footerHeight;
        }
    }
    .container
    {
        .ruler
        {
            background: transparent url('../img/svg/ruler.svg') left bottom repeat-y;
            width:50px;
            height:100%;
            display:block;
            position:absolute;
            left:0;
            bottom:0;
        }
        .coin_wrapper
        {
            width:100%;
            height:100%;
            display:block;
            position:absolute;
            bottom:0;
            right:0;
        }

        .height_indicator
        {
            width:150px;
            height:150px;
            display:block;
            position:fixed;
            left:30px;
            bottom:$sectionHeight/2;
        }
    }
    .container .coin_wrapper
    {
        .coinpile
        {
            width:36px;
            position:absolute;
            bottom:0;
            display:block;
            background: transparent url('../img/coinpile.png') bottom repeat-y;
            &.flight
            {
                left:50%;
                height: 7600px;
                @include transform(translateX(-50%));
            }
            &.nepal
            {
                right: 27%;
                height: 6730px;
            }
            &.capetown
            {
                left: 27%;
                height: 6050px;
            }
            &.dubai
            {
                right: 27%;
                height: 5200px;
            }
            &.newyork
            {
                left: 27%;
                height: 4335px;
            }
            &.paris
            {
                right:210px;
                height:3000px;
            }
            &.london
            {
                left:40%;
                height:2000px;
            }
            &.rio
            {
                right:200px;
                height:600px;
            }
        }

	}

	footer{display:block;
				 position:fixed;
				 width:100%;
					bottom:0;
					left:0;
					background:white;

							.footer_wrapper
							{  @include outer-container();
								position:relative;
									padding:rhythm(1);
							}
					}

	footer .footer_wrapper{
					.logo_col
					{@include span-columns(2 of 3);
					}
					.social
					{@include span-columns(1 of 3);
					}

					.logo_col
					{.logo
							{display:block;height:50px;width:150px;
							}

							path#logo{fill:darken($sky, 30%);}
					}

					.social
					{height:50px;
					}
			}

	footer .footer_wrapper{
					ul.share-buttons{
							$socialbuttonsize:40px;
							@include outer-container();
							list-style: none;
							padding: 0;

							li{@include span-columns(1 of 5);

								 a, img{width:$socialbuttonsize;}

									a{ position:relative;
											display:block;
											margin:0 auto;
											img{display:block;
													height:$socialbuttonsize;
											}
									}
							}
					}
			}

}
    /*SECTION LAYER*/
    /* ---------------------------------------------------------*/
		.section_wrapper
    {z-index:4;
        svg
        {
            position:relative;
            display:block;
        }

				section
        {
            position:relative;
            bottom:0;
            left:0;
            width:100%;
            display:block;
            height:$sectionHeight;
            padding:1em 0 1em 0;
            overflow:visible;
        }


				section
        {
            &#london, &#newyork
            {
                .cloud
                {
                    left:0;
                }
            }

            &#paris, &#dubai, &#nepal
            {
                .cloud
                {
                    right:0;
                }
            }

						.cloud
            {
                position:absolute;
                width:739.3px;
                height:900px;
                top:50%;
                z-index:4;
                @include transform(translateY(-50%));
            }

            .cloud_left, .cloud_right
            {
                position:absolute;
                width:100%;
                bottom:0;
                z-index:5 !important;
            }
            &#capetown
            {
                .cloud
                {
                    height:590px;
                }
            }
        }
        section
        {
            &#flight
            {
                .plane
                {
                    left:0;
                    width:200px;
                    height:96px;
                    position:absolute;
                    z-index:3;
                }
                .planetrail
                {
                    right: 0;
                    height: 9px;
                    bottom: 18px;
                    background: transparent url("../img/svg/planetrail.svg") center repeat-x;
                    position: absolute;
                    width: 90%;
                }
                .flightpath
                {
                    width:150%;
                    height:96px;
                    display:block;
                    position:absolute;
                    top:50%;
                    right:0;
                }
            }
            &#dubai
            {
                .burj_khalifa
                {
                    width:500px;
                    height:500px;
                    display:block;
                    position:absolute;
                    right: 30px;
                    bottom: 600px;
                    z-index:3;
                    svg
                    {
                        display:block;
                    }
                }
            }
            &#nepal
            {
                .everest
                {
                    width: 650px;
                    height: 500px;
                    display: block;
                    position: absolute;
                    bottom: 50px;
                    right: 0;
                }
            }
            &#newyork
            {
                .empire_state
                {
                    width:500px;
                    height:500px;
                    display:block;
                    position:absolute;
                    left: 0;
                    bottom: 730px;
                    z-index:3;
                    svg
                    {
                        display:block;
                    }
                }
            }
            &#paris
            {
                .eiffel
                {
                    width:500px;
                    height:500px;
                    display:block;
                    position:absolute;
                    right:0;
                    bottom:420px;
                    z-index:3;
                }
            }
            &#london
            {
                .hotel, .supports
                {
                    width:500px;
                    height:500px;
                    display:block;
                    position:absolute;
                    left:0;
                }
                .hotel
                {
                    bottom:240px;
                }
                .supports
                {
                    bottom:210px;
                    z-index:3;
                }
                .london_eye
                {
                    position:absolute;
                    width:730px;
                    height:730px;
                    display:block;
                    bottom:270px;
                    z-index:2;
                }
            }
            &#rio
            {
                overflow:hidden;
                .redeemer
                {
                    position:absolute;
                    width:48.359375%;
                    height:71.38671875%;
                    display:block;
                    bottom:0px;
                    right:0;
                    z-index:4;
                    svg
                    {
                        bottom:-10px;
                        right:0;
                    }
                }
                .rio_trees
                {
                    position:absolute;
                    width:62.578125%;
                    height:23.4375%;
                    display:block;
                    bottom:0px;
                    right:1.5625%;
                    z-index:5;
                    svg
                    {
                        bottom:-10px;
                        right:0;
                    }
                }
            }
        }
    }


	/*FOREGROUND CLOUDS*/
	/*-------------------------------------------------------*/
	.foreground_clouds {z-index:3;
											@include opacity(0.5);}

	/*BACKGROUND CLOUDS*/
	/*-------------------------------------------------------*/
	.background_clouds {z-index:2;
											@include opacity(0.25);}

/*BACKGROUND TEXTURES*/
/*-------------------------------------------------------*/
.background_textures
{z-index:1;

		.texture
    {
        position:absolute;
        width:100%;
        display:block;
        @include opacity(0.5);
        z-index:1 !important;
        &.capetown, &.dubai, &.newyork, &.paris, &.london
        {
            path#Texture
            {
                fill: darken(rgb(12,156,238), 15%);
            }
        }
        &.euromillions
        {
            bottom:10245px;
            path#Texture
            {
                fill: darken(rgb(13,30,83), 18%);
            }
        }
        &.space
        {
            bottom:9210px;
            path#Texture
            {
                fill: darken(rgb(13,30,83), 15%);
            }
        }
        &.felix
        {
            bottom:8280px;
            path#Texture
            {
                fill: darken(rgb(13,30,83), 6%);
            }
        }
        &.flight
        {
            bottom:7300px;
            path#Texture
            {
                fill: darken(rgb(41,72,128), 10%);
            }
        }
        &.nepal
        {
            bottom:6400px;
            path#Texture
            {
                fill: darken(rgb(40,98,158), 10%);
            }
        }
        &.capetown
        {
            bottom:5500px;
        }
        &.dubai
        {
            bottom:4500px;
        }
        &.newyork
        {
            bottom:3440px;
        }
        &.paris
        {
            bottom:2200px;
        }
        &.london
        {
            bottom:1304px;
        }
        &.rio
        {
            bottom:-10px;
            path#Texture
            {
                fill: lighten($sky, 30%);
            }
					}
				}
			}
